body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 50px 20px;
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.2em;
}

.about-section {
    padding: 50px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007bff;
}

.about-section p {
    font-size: 1.2em;
    color: #666;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(242, 3, 51, 0.1);    /* Past color=rgba(0, 0, 0, 0.1);*/
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 16px rgba(255, 0, 136, 0.2);  /* past clor=0 8px 16px,rgba(0, 0, 0, 0.2);*/
}

.team-member img {
    width: 100%;
    height: auto;
    margin: none;
    margin-top: 1%;
    border-radius: 4%;
}

.team-member h3 {
    font-size: 1.5em;
    margin: 15px 0 10px 0;
}

.team-member p {
    margin: 0 15px 15px 15px;
    color: #333;
}

/* Animation for sections */
.about-section {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 